.country-wrapper{
    padding: 50px 150px;
}

.btn-back button{
    padding: 12px 32px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
    transition: all .1s ease-in-out;
    box-shadow: 0 10px 20px rgba(231, 231, 231, 0.19), 0 6px 6px rgba(230, 230, 230, 0.23);

}

.btn-back button:hover{
    box-shadow: 0 10px 20px rgba(175, 175, 175, 0.424), 0 6px 6px rgba(230, 230, 230, 0.459);

}

.btn-back button i{
    margin-right: 10px;
}

.country-container{
    display: grid;
    grid-template-columns: 450px 250px 250px;
     grid-gap: 10%;
    margin-top: 70px;
}

.country-details{
    padding: 20px 0;
    display: flex;
}


.county ul{
    padding: 0;
    margin: 0;
}

.county ul li{
    list-style-type: none;
    font-size: 16px;
    line-height: 22px;
    padding: 6px 0;

}

.county ul li:last-child{
    padding-top: 40px;
}
.county-float ul{
    padding: 0;
}
.county-float ul li{
    list-style-type: none;
    font-size: 16px;
    line-height: 22px;
    padding: 6px 0;
}

.county-float {
    margin-top: 70px;
}