<div class="country-wrapper" *ngIf="isCountry">
  <div class="btn-back">
    <button (click)="goBack()"><i class="fa fa-arrow-left"></i>Back</button>
  </div>


  <div class="country-container" *ngFor="let country of singleCountry">
    <div class="country-flag">
      <img src="{{country.flag}}" alt="{{country.name}}" width="450px" height="350px" title="{{country.name}}">
    </div>

    <div class="country-details">
      <div class="county">
        <h1>{{country.name}}</h1>
        <ul>
          <li><b>Native Name:</b> {{country.nativeName}}</li>
          <li><b>Population:</b> {{country.population | number}}</li>
          <li><b>Region:</b> {{country.region}}</li>
          <li><b>Sub region:</b> {{country.subregion}}</li>
          <li><b>Capital:</b> {{country.capital}}</li>
          <li><b>Border Countries:</b> <span *ngFor="let border of country.borders"> {{border}},</span></li>
        </ul>
      </div>
    </div>

    <div class="county-float">
      <ul>
        <li><b>Top Level Domain:</b> {{country.topLevelDomain}}</li>
        <li><b>Currencies:</b> {{country.currencies[0].name}}</li>
        <li><b>Languages:</b><span *ngFor="let item of country.languages"> {{item.name}}, </span></li>
        <li><b>Demonym:</b> {{country.demonym}}</li>

      </ul>
    </div>
  </div>

</div>
