<div class="countries-wrapper" id="countries-wrapper">
  <div class="search-container">
    <div class="search-input">
      <div class="search-group">
        <i class="fa fa-search"></i><input type="text" placeholder="Search for a country..." (keyup)="onKey($event)">
      </div>
      <p>{{getCountry}}</p>

    </div>
    <div class="search-filter">
      <div class="search-filter-item">
        <input list="search-group" placeholder="Filter by Region">
        <datalist id="search-group">
          <option value="Africa">
          <option value="America">
          <option value="Asia">
          <option value="Europe">
          <option value="Ocean">
        </datalist>
      </div>
    </div>
  </div>


  <div class="countries-container">
    <div class="country" *ngFor="let country of AllCountries " title="{{country.name}}" [hidden]="hide">
      <a routerLink="country/{{country.name}}" routerLinkActive="active">
        <img src="{{country.flag}}" alt="{{country.name}}" width="240px" height="145px">
        <div class="country-details">
          <h3>{{country.name}}</h3>
          <ul>
            <li><b>Population:</b> {{country.population | number}}</li>
            <li><b>Region:</b> {{country.region}}</li>
            <li><b>Capital:</b> {{country.capital}}</li>
          </ul>
        </div>
      </a>
    </div>
  </div>


</div>
