.countries-wrapper{
    /* padding: 50px 150px; */
}

.search-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 150px;

}
 .search-input{
    padding: 18px;
    border-radius: 12px;
}

.search-group{
    display: flex;
    background: rgb(255, 255, 255) !important;
    box-shadow: 0 10px 20px rgba(231, 231, 231, 0.19), 0 6px 6px rgba(230, 230, 230, 0.23);
    border: 1px solid #f9f9f2;
    padding: 5px 38px;
    width: 60%;
    align-items: center;
}

.search-group input{
    width: 100%;
    border: none;
    margin-left: 12px;
    height: 20px;
    padding: 12px;
}

.search-group i{
    opacity: 0.2;
}

.search-filter{
    justify-self: end;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 12px;
}
.search-filter-item{
    padding: 5px;
}

.search-filter-item input{
    height: 20px;
    padding: 16px;
    border: none;
    box-shadow: 0 10px 20px rgba(231, 231, 231, 0.19), 0 6px 6px rgba(230, 230, 230, 0.23);

}

.countries-container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin-top: 50px;
    grid-column-gap: 5%;
    justify-content: center;
    align-items: center;
}


.countries-container{
    padding:0 16px;
}

.country{
    background: white;
    border-radius: 5px;
    margin-bottom: 100px;
    transition: all .1s ease-in-out;
    box-shadow: 0 10px 20px rgba(211, 211, 211, 0.19), 0 6px 6px rgba(197, 197, 197, 0.23);
}

.country:hover{
    box-shadow: 0 10px 20px rgba(175, 175, 175, 0.424), 0 6px 6px rgba(230, 230, 230, 0.459);
}
.country ul{
    padding: 0;
    margin: 0;
}

.country ul li{
    list-style-type: none;
    font-size: 14px;
    line-height: 22px;
}

.country .country-details{
    padding: 10px 28px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    color:hsl(200, 15%, 8%) !important;

}


@media only screen
and (max-width: 375px) {
    html{
        margin: 0;
        padding: 0;
    }
    body{
        display: flex;
        flex-direction: column;
    }

    .countries-wrapper{
        padding: 12px;
    }

    .search-container{
        display: flex;
        flex-direction: column;
        padding: 0;

    }

    .countries-container{
        display: flex;
        flex-direction: column;
        grid-column-gap: 2%;
        padding: 0 12px;
    }

    .countries-container img{
        width: 100%;
    }

    .search-input{
        padding: 0;
    }

    .search-filter{
        padding: 0;
        width: auto;
    }

.country{
    cursor: pointer;
}
.country:hover{
    box-shadow: 0 10px 20px rgba(175, 175, 175, 0.424), 0 6px 6px rgba(230, 230, 230, 0.459);
}

.country ul li{
    font-size: 16px;
    line-height: 25px;
}

}