
.lnr-moon{
    font-weight: bold;
}

header{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 150px;
    padding-right: 150px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(231, 231, 231, 0.19), 0 6px 6px rgba(230, 230, 230, 0.23);
}

.header-item-mode{
    justify-self: end;
}

.header-item-mode h5{
    cursor: pointer;
}

.dark-theme{
    background-color: hsl(209, 23%, 22%);
    color: #ffffff;
}

@media only screen
and  (max-width: 375px){
    html {
        margin: 0;
        padding: 0;
    }
    header{
        width: auto;
        padding: 0 20px;
        }

}